<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917931441825-jqgv8i6dhlvijb8jf3ti5te9nuh955pp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917931441825-jqgv8i6dhlvijb8jf3ti5te9nuh955pp</string>
	<key>API_KEY</key>
	<string>AIzaSyCdId_uk4fWMdOc5woTs6R1m98kcJCcHN0</string>
	<key>GCM_SENDER_ID</key>
	<string>917931441825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riveAnimation</string>
	<key>PROJECT_ID</key>
	<string>pico-app-e0019</string>
	<key>STORAGE_BUCKET</key>
	<string>pico-app-e0019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917931441825:ios:b76f2940f9283c5b3efae0</string>
</dict>
</plist>